USE [TOIEC]
GO
/****** Object:  Table [dbo].[BAITHI]    Script Date: 25/06/2025 8:28:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAITHI](
	[MaBT] [int] NOT NULL,
	[NgayLap] [date] NULL,
	[TenBaiThi] [nvarchar](255) NULL,
	[NgayThi] [date] NULL,
	[TGLamBai] [nchar](10) NULL,
	[TongDiem] [char](10) NULL,
 CONSTRAINT [PK_BAITHI] PRIMARY KEY CLUSTERED 
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAIVIET]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIET](
	[MaBV] [int] NOT NULL,
	[TenBV] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[MaDD] [int] NULL,
	[MaNguoiTao] [int] NULL,
 CONSTRAINT [PK_BAIVIET] PRIMARY KEY CLUSTERED 
(
	[MaBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BIENBANTHITHU]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIENBANTHITHU](
	[id_BienBanThiThu] [int] NOT NULL,
	[id_ThiThu] [int] NULL,
	[DotThiThu] [nvarchar](25) NULL,
	[DiaDiem] [nvarchar](100) NULL,
	[GiamThiCoiThi1] [nvarchar](25) NULL,
	[GiamThiCoiThi2] [nvarchar](25) NULL,
 CONSTRAINT [PK_BIENBANTHITHU] PRIMARY KEY CLUSTERED 
(
	[id_BienBanThiThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[MaCH] [int] NOT NULL,
	[MaNhomCH] [int] NULL,
	[ND_CauHoi] [nvarchar](max) NULL,
	[Path_AudioRieng] [nvarchar](500) NULL,
	[Path_HinhAnh] [nvarchar](500) NULL,
	[GiaiThichDA] [nvarchar](max) NULL,
	[MaTT_CH] [int] NULL,
	[ID_GiaoVienTaoCH] [int] NULL,
	[ID_NguoiDuyetCH] [int] NULL,
	[STT_TrongNhom] [int] NULL,
	[NgayTaoCH] [date] NULL,
	[NgayDuyetCH] [date] NULL,
	[NgayCapNhatCH] [date] NULL,
 CONSTRAINT [PK_CAUHOI] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOIBAITAP]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOIBAITAP](
	[id_BaiTap] [int] NOT NULL,
	[id_PhieuBaiTap] [int] NOT NULL,
	[MaCH] [int] NULL,
 CONSTRAINT [PK_CAUHOIBAITAP] PRIMARY KEY CLUSTERED 
(
	[id_BaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOITRONG DETHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOITRONG DETHI](
	[MaDeThi] [int] NOT NULL,
	[MaCH] [int] NOT NULL,
	[STT_CH_TrongDe] [int] NULL,
 CONSTRAINT [PK_CAUHOITRONG DETHI] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC,
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUTRUCDETHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUTRUCDETHI](
	[MaDeThi] [int] NOT NULL,
	[MaPT] [int] NOT NULL,
	[SoLuongCau] [int] NULL,
	[MaDoKhoPart] [int] NULL,
 CONSTRAINT [PK_CAUTRUCDETHI] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC,
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBAITHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAITHI](
	[MaBT] [int] NOT NULL,
	[MaSV] [int] NOT NULL,
	[PhanThi] [nvarchar](25) NULL,
	[SoCauDung] [int] NULL,
	[DiemSo] [int] NULL,
 CONSTRAINT [PK_CHITIETBAITHI] PRIMARY KEY CLUSTERED 
(
	[MaBT] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDETL]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDETL](
	[MaChuDeTL] [int] NOT NULL,
	[TenChuDeTL] [nvarchar](255) NULL,
	[MoTaChuDeTL] [nvarchar](max) NULL,
 CONSTRAINT [PK_CHUDETL] PRIMARY KEY CLUSTERED 
(
	[MaChuDeTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_DETHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_DETHI](
	[id_DDeThi] [int] NOT NULL,
	[MaCH] [int] NULL,
	[id_DeThi] [int] NULL,
 CONSTRAINT [PK_D_DETHI] PRIMARY KEY CLUSTERED 
(
	[id_DDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKYONLUYEN]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKYONLUYEN](
	[id_OnLuyen] [int] NOT NULL,
	[MaSV] [int] NULL,
	[id_Lop] [int] NULL,
	[TrinhDoHienTai] [nvarchar](25) NULL,
	[DiemToiecMucTieu] [int] NULL,
	[HinhThucHoc] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_DANGKYONLUYEN] PRIMARY KEY CLUSTERED 
(
	[id_OnLuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKYTHITHU]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKYTHITHU](
	[id_ThiThu] [int] NOT NULL,
	[MaSV] [int] NULL,
	[NgayThiThu] [date] NULL,
	[CaThi] [nvarchar](25) NULL,
	[DiaDiem] [nvarchar](100) NULL,
	[DotThiThu] [nvarchar](100) NULL,
	[id_DeThi] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaLSD_TL] [int] NULL,
 CONSTRAINT [PK_DANGKYTHITHU] PRIMARY KEY CLUSTERED 
(
	[id_ThiThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAPAN]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAPAN](
	[MaDA] [int] NOT NULL,
	[MaCH] [int] NULL,
	[ND_DapAn] [nvarchar](max) NULL,
	[LaDapAnDung] [bit] NULL,
	[KyHieuDA] [char](1) NULL,
 CONSTRAINT [PK_DAPAN] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHI](
	[id_DeThi] [int] NOT NULL,
	[LoaiDde] [nvarchar](25) NULL,
	[HinhThuc] [nvarchar](25) NULL,
	[ThoiGian] [int] NULL,
 CONSTRAINT [PK_DETHI] PRIMARY KEY CLUSTERED 
(
	[id_DeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETHIDATAO]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHIDATAO](
	[MaDeThi] [int] NOT NULL,
	[TenDeThi] [nvarchar](500) NULL,
	[MaLoaiDe] [int] NULL,
	[MaTrangThaiDeThi] [int] NULL,
	[MoTaDe] [nvarchar](max) NULL,
	[ThoiGianLamBai_Phut] [int] NULL,
	[NguonGocThamKhao] [nvarchar](255) NULL,
	[NamThamKhao] [int] NULL,
	[DoKhoTongThe] [int] NULL,
	[Tags] [nvarchar](max) NULL,
	[ChoPhepXemDapAn] [nvarchar](50) NULL,
	[ChoPhepLamLai] [bit] NULL,
	[SoLanLamLaiMax] [int] NULL,
	[ID_GiaoVienTaoDe] [int] NULL,
	[ID_SinhVienTaoDe] [int] NULL,
	[NgayTaoDe] [datetime] NULL,
	[NgayXuatBan] [datetime] NULL,
	[NgayCapNhatCuoi] [datetime] NULL,
 CONSTRAINT [PK_DETHIDATAO] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMTHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTHI](
	[id_DiemThi] [int] NOT NULL,
	[id_ThiThu] [int] NULL,
	[MaSV] [int] NULL,
	[DiemPart1] [int] NULL,
	[DiemPart2] [int] NULL,
	[DiemPart3] [int] NULL,
	[DiemPart4] [int] NULL,
	[DiemPart5] [int] NULL,
	[DiemPart6] [int] NULL,
	[DiemPart7] [int] NULL,
	[TongDiem] [int] NULL,
	[Bac] [nchar](10) NULL,
 CONSTRAINT [PK_DIEMTHI] PRIMARY KEY CLUSTERED 
(
	[id_DiemThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIENDAN]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIENDAN](
	[MaDD] [int] NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NguoiTao] [nvarchar](25) NULL,
	[SoBaiViet] [int] NULL,
	[TrangThai] [nvarchar](25) NULL,
	[HanhDong] [nvarchar](25) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[MaDDN] [int] NULL,
 CONSTRAINT [PK_DIENDAN] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDENGHITAODD]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDENGHITAODD](
	[MaDDN] [int] NOT NULL,
	[TenNguoiDN] [nvarchar](25) NULL,
	[ChucVu] [nvarchar](25) NULL,
	[DonVi] [nvarchar](25) NULL,
	[NgayVietDon] [date] NULL,
	[TenDienDanDeXuat] [nvarchar](100) NULL,
	[MucDich] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhThucTrienKhai] [nvarchar](100) NULL,
	[LoiIchKyVong] [nvarchar](max) NULL,
 CONSTRAINT [PK_DONDENGHITAODD] PRIMARY KEY CLUSTERED 
(
	[MaDDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONKHIEUNAI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONKHIEUNAI](
	[MaDon] [int] NOT NULL,
	[CauSo] [int] NULL,
	[HinhThucCauHoi] [nvarchar](25) NULL,
	[MoTaSaiSot] [nvarchar](100) NULL,
	[DeNghiXemXet] [nvarchar](100) NULL,
	[NguoiLap] [nvarchar](25) NULL,
	[MaBT] [int] NULL,
	[MaSV] [int] NULL,
 CONSTRAINT [PK_DONKHIEUNAI] PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MaGV] [int] NOT NULL,
	[TenGiaoVien] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [numeric](10, 0) NULL,
	[Email] [nvarchar](255) NULL,
	[CapBac] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](100) NULL,
	[TenDangNhapGV] [nvarchar](255) NULL,
	[MatKhauGV] [nvarchar](255) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN_DIENDAN]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN_DIENDAN](
	[MaDD] [int] NOT NULL,
	[MaGV] [int] NOT NULL,
	[TG_Tao] [datetime] NULL,
	[TrangThai] [nvarchar](25) NULL,
 CONSTRAINT [PK_GIAOVIEN_DIENDAN] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIEMDUYETVIEN]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIEMDUYETVIEN](
	[MaKDV] [int] NOT NULL,
	[HoTenKDV] [nvarchar](255) NULL,
	[EmailKDV] [nvarchar](255) NULL,
	[TenDangNhapKDV] [nvarchar](100) NULL,
	[MatKhauKDV] [nvarchar](255) NULL,
 CONSTRAINT [PK_KIEMDUYETVIEN] PRIMARY KEY CLUSTERED 
(
	[MaKDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYNANG]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYNANG](
	[MaKN] [int] NOT NULL,
	[TenKN] [nvarchar](100) NULL,
 CONSTRAINT [PK_KYNANG] PRIMARY KEY CLUSTERED 
(
	[MaKN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHHOC]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHOC](
	[LichID] [int] NOT NULL,
	[LopID] [int] NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
 CONSTRAINT [PK_LICHHOC] PRIMARY KEY CLUSTERED 
(
	[LichID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUDUYETCH]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUDUYETCH](
	[MaLSD] [int] NOT NULL,
	[MaCH] [int] NULL,
	[ID_NguoiDuyetLS] [int] NULL,
	[MaTT_Truoc] [int] NULL,
	[MaTT_Sau] [int] NULL,
	[GhiCHuDuyet] [nvarchar](max) NULL,
	[ThoiDiemDuyet] [datetime] NULL,
 CONSTRAINT [PK_LICHSUDUYETCH] PRIMARY KEY CLUSTERED 
(
	[MaLSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUDUYETTL]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUDUYETTL](
	[MaLSD_TL] [int] NOT NULL,
	[MaTL] [int] NULL,
	[ID_NguoiDuyetLS_TL] [int] NULL,
	[MaTT_Truoc_TL] [int] NULL,
	[MaTT_Moi_TL] [int] NULL,
	[GhiChuDuyetTL] [nvarchar](max) NULL,
	[ThoiDiemDuyetTL] [datetime] NULL,
 CONSTRAINT [PK_LICHSUDUYETTL] PRIMARY KEY CLUSTERED 
(
	[MaLSD_TL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHTHITOIEC]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTHITOIEC](
	[LichThiID] [int] NOT NULL,
	[UserID] [int] NULL,
	[DiaDiemThi] [nvarchar](100) NULL,
	[ThoiGianTao] [datetime] NULL,
 CONSTRAINT [PK_LICHTHITOIEC] PRIMARY KEY CLUSTERED 
(
	[LichThiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDETHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDETHI](
	[MaLoaiDe] [int] NOT NULL,
	[TenLoaiDe] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAIDETHI] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITAILIEU]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAILIEU](
	[MaLoaiTL] [int] NOT NULL,
	[TenLoaiTL] [nvarchar](100) NULL,
	[MoTaLoaiTL] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOAITAILIEU] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[id_Lop] [int] NOT NULL,
	[TenLop] [nvarchar](25) NULL,
	[ThangBatDau] [date] NULL,
	[ThangKetThuc] [date] NULL,
	[MaGV] [int] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[id_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUCDOKHO]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUCDOKHO](
	[MaMDK] [int] NOT NULL,
	[TenMDK] [nvarchar](100) NULL,
 CONSTRAINT [PK_MUCDOKHO] PRIMARY KEY CLUSTERED 
(
	[MaMDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMCH]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMCH](
	[MaNhomCH] [int] NOT NULL,
	[KyHieu_NhomCh] [nvarchar](50) NULL,
	[ND_DoanVan] [nvarchar](max) NULL,
	[ND_HoiThoai] [nvarchar](max) NULL,
	[Path_AudioNhom] [nvarchar](500) NULL,
	[ID_GiaoVienTao] [int] NULL,
	[NgayTaoNhom] [date] NULL,
	[MaPT] [int] NULL,
 CONSTRAINT [PK_NHOMCH'] PRIMARY KEY CLUSTERED 
(
	[MaNhomCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAICH]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAICH](
	[MaCH] [int] NOT NULL,
	[MaPT] [int] NOT NULL,
	[MaKN] [int] NOT NULL,
	[MaMDK] [int] NOT NULL,
 CONSTRAINT [PK_PHANLOAICH] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC,
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAITL]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAITL](
	[MaPL] [int] NOT NULL,
	[MaKN] [int] NULL,
	[MaPT] [int] NULL,
 CONSTRAINT [PK_PHANLOAITL] PRIMARY KEY CLUSTERED 
(
	[MaPL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANTHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANTHI](
	[MaPT] [int] NOT NULL,
	[TenPT] [nvarchar](100) NULL,
	[MaKN] [int] NULL,
 CONSTRAINT [PK_PHANTHI] PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBAITAPONLUYEN]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBAITAPONLUYEN](
	[id_PhieuBaiTap] [int] NOT NULL,
	[MaSV] [int] NULL,
	[Lop] [nvarchar](25) NULL,
	[DangCauHoi] [nvarchar](25) NULL,
	[ThoiGianGiao] [datetime] NULL,
	[ThoiGianNop] [datetime] NULL,
	[DiemSo] [int] NULL,
	[NhanXet] [nvarchar](500) NULL,
 CONSTRAINT [PK_PHIEUBAITAPONLUYEN] PRIMARY KEY CLUSTERED 
(
	[id_PhieuBaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDANGKYTOIEC]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDANGKYTOIEC](
	[MaPhieu] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[TenDonVi] [nvarchar](255) NULL,
	[HoVaTen] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[CCCD] [numeric](12, 0) NOT NULL,
	[SoDienThoai] [numeric](10, 0) NULL,
	[DiaChiLienHe] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[NoiCongTac] [nvarchar](255) NULL,
	[NgayGioDangKy] [datetime] NULL,
	[GioThi] [datetime] NULL,
	[NgayKiemTraKetQua] [date] NULL,
	[LePhiThi] [decimal](10, 2) NULL,
	[NgayDangKy] [date] NULL,
 CONSTRAINT [PK_PHIEUDANGKYTOIEC] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [int] NOT NULL,
	[HoTenSV] [nvarchar](255) NULL,
	[Lop] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](500) NULL,
	[CCCD] [numeric](12, 0) NULL,
	[TenDangNhapSv] [nvarchar](100) NULL,
	[MatKhauSV] [nvarchar](255) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAILIEU_CHUDE]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAILIEU_CHUDE](
	[MaTL] [int] NOT NULL,
	[MaChuDeTL] [int] NOT NULL,
 CONSTRAINT [PK_TAILIEU_CHUDE] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC,
	[MaChuDeTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAILIEUHOCTAP]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAILIEUHOCTAP](
	[MaTL] [int] NOT NULL,
	[TieuDeTL] [nvarchar](500) NULL,
	[MoTaNganTL] [nvarchar](max) NULL,
	[Path_FileTL] [nvarchar](500) NULL,
	[URL_NgoaiTL] [nvarchar](1000) NULL,
	[NoiDungVanBan] [nvarchar](max) NULL,
	[MaLoaiTL] [int] NULL,
	[MaTT_TL] [int] NULL,
	[ID_NguoiTaiLen] [int] NULL,
	[ID_NguoiDuyetTL] [int] NULL,
	[NgayTaiLenTL] [datetime] NULL,
	[NgayDuyetTL] [datetime] NULL,
	[NgayCapNhatTL_Cuoi] [datetime] NULL,
 CONSTRAINT [PK_TAILIEUHOCTAP] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMGIA]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMGIA](
	[MaDD] [int] NOT NULL,
	[MaSV] [int] NOT NULL,
	[TGThamGia] [datetime] NULL,
 CONSTRAINT [PK_THAMGIA] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGKELOP]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGKELOP](
	[id_Thongke] [int] NOT NULL,
	[id_Lop] [int] NULL,
	[TongHocVien] [int] NULL,
	[TrungBinhDiem] [int] NULL,
	[SoTren450] [int] NULL,
	[SoTren600] [int] NULL,
	[NhanXet] [nvarchar](500) NULL,
	[DotThiThu] [nvarchar](255) NULL,
 CONSTRAINT [PK_THONGKELOP] PRIMARY KEY CLUSTERED 
(
	[id_Thongke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAICH]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAICH](
	[MaTT_CH] [int] NOT NULL,
	[TenTT_CH] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRANGTHAICH] PRIMARY KEY CLUSTERED 
(
	[MaTT_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIDETHI]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDETHI](
	[MaTrangThaiDe] [int] NOT NULL,
	[TenTrangThaiDe] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRANGTHAIDETHI] PRIMARY KEY CLUSTERED 
(
	[MaTrangThaiDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAITL]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAITL](
	[MaTT_Tl] [int] NOT NULL,
	[KyHieuTT_TL] [nvarchar](50) NULL,
	[TenTT_TL] [nvarchar](100) NULL,
	[MoTaTT_TL] [nvarchar](max) NULL,
 CONSTRAINT [PK_TRANGTHAITL] PRIMARY KEY CLUSTERED 
(
	[MaTT_Tl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TT_LICHTHITOIEC]    Script Date: 25/06/2025 8:28:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_LICHTHITOIEC](
	[MaTT_LichThi] [int] NOT NULL,
	[LichThiID] [int] NULL,
	[NgayThi] [date] NULL,
	[GioThuTuc] [datetime] NULL,
	[GioBatDauLamBai] [datetime] NULL,
	[LoaiBaiThi] [nvarchar](100) NULL,
 CONSTRAINT [PK_TT_LICHTHITOIEC] PRIMARY KEY CLUSTERED 
(
	[MaTT_LichThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
